<!--
 * @author Marco Schaefer 
 * @author Mathias Witte Paz
 *  
-->

{% extends "base.html" %}
{% block content %}

<script type="text/javascript">

// set svg dimensions and margins
var svgWidth = 500 ;
var svgHeight = 360;
var margin = {top: 20, right: 30, bottom: 30, left: 38};

// append the svg object to the body of the page
var svg = d3.select("#plot")
  .append("svg")
  .attr("width", svgWidth + margin.left + margin.right)
  .attr("height", svgHeight + margin.top + margin.bottom)
  .attr("class", "chart")
  .append("g")
  .attr("transform","translate(" + margin.left + "," + margin.top + ")");

    var header =d3.select("#title").html("<h3>Dummy Test Page</h3>");
    
    svg;
    header;
</script>

{% endblock %}