<!--  Project Biosensors - Jenko Schneider Stickel Tung -->

{% extends "template.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='JS/LoadingData.js') }}"></script>
<script src="{{ url_for('static', filename='JS/bars.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var urlParams = parseURLParams(window.location.href);
        console.log(urlParams);

        if(urlParams.date != null)
        {
            console.log(urlParams.date[0]);

            var dateFrom = new Date(urlParams.date[0]);
            var dateTo = new Date(urlParams.date);
            var dateTo = dateTo.setDate(dateTo.getDate() + 1);

            console.log(DateToString(dateFrom, "getParameter"));
            console.log(DateToString(dateTo, "getParameter"));
            document.getElementById('dateStart').value =  DateToString(dateFrom, "getParameter");
            document.getElementById('dateEnd').value = DateToString(dateTo, "getParameter");
        }

        Update();
    });

    function Update()
    {
        data = GetVariableAndDates();
        dataset = LoadData(data[0], data[1], data[2]);

        var dateFrom = new Date(data[1]);
        var dateTo = new Date(data[2]);

        var difference = Math.ceil(Math.abs(dateTo - dateFrom) / (1000 * 60 * 60 * 24));
        var dateFormat = "withHour";

        if(difference > 7){
            dateFormat = "monthDay";
        }

        var type = "";

        if(data[0] == "HR" || data[0] == "Temperature")
            type = "line";
        else
            type = "bar";

        DrawGraph(dataset, data[0], type, dateFormat);
    }
</script>

<header >
    <div class="w3-container">
        <h1><b>General data</b></h1>
        <h5>Choose one variable you want to be visualized over the selected time span.</h5>
        <div class="w3-section w3-bottombar w3-padding-16">
            <span class="w3-margin-right">Filter:</span> <br/>
            
            <input type="radio" id="radioCalories" name="variable" value="Calories" checked>
            <label for="radioCalories"> Calories</label><br>

            <input type="radio" id="radioHR" name="variable" value="HR">
            <label for="radioHR"> HR</label><br>

            <input type="radio" id="radioTemperature" name="variable" value="Temperature">
            <label for="radioTemperature"> Temperature</label><br>

            <input type="radio" id="radioSteps" name="variable" value="Steps">
            <label for="radioSteps"> Steps</label><br>


            <input type="date" id="dateStart" value="2015-05-21"/>
            <input type="date" id="dateEnd" value="2015-05-22"/>

            <button onclick=Update()>Select</button>
        </div>
    </div>
</header>

<!-- div for plot -->
<div id="plot"></div>

{% endblock %}