<!--  Project Biosensors - Jenko Schneider Stickel Tung -->

{% extends "template.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='JS/LoadingData.js') }}"></script>
<script src="{{ url_for('static', filename='JS/pattern.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        Update();
    });

    function Update()
    {
        data = GetVariable();
        dataset = LoadPatternData(data);

        //console.log(dataset);

        DrawGraph(dataset, data, "bar", "none");
    }
</script>

<header >
    <div class="w3-container">
        <h1><b>Pattern data</b></h1>
        <h5>Explore your data by the plot which shows the whole data distributed on one day. The average values are taken for plotting. Just find out when you are most active on the day.</h5>
        <div class="w3-section w3-bottombar w3-padding-16">
            <input type="radio" id="radioCalories" name="variable" value="Calories" checked>
            <label for="radioCalories"> Calories</label><br>

            <input type="radio" id="radioHR" name="variable" value="HR">
            <label for="radioHR"> HR</label><br>

            <input type="radio" id="radioTemperature" name="variable" value="Temperature">
            <label for="radioTemperature"> Temperature</label><br>

            <input type="radio" id="radioSteps" name="variable" value="Steps">
            <label for="radioSteps"> Steps</label><br>

            <button onclick=Update()>Select</button>
        </div>
    </div>
</header>


<div id="data">
</div>

<div id="plot">
</div>

{% endblock %}