{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='JS/LoadingData.js') }}"></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        data = LoadBaseData("HR", "2015-05-20", "2015-05-21");
        document.getElementById("data").textContent = data;
    });

    function CountCheckboxes() {
        variables = [];

        checkboxCalories = document.getElementById('checkboxCalories');
        checkboxHR = document.getElementById('checkboxHR');
        checkboxTemperature = document.getElementById('checkboxTemperature');
        checkboxSteps = document.getElementById('checkboxSteps');

        dateStart = document.getElementById('dateStart');
        dateEnd = document.getElementById('dateEnd');


        if (checkboxCalories.checked) {
            variables.push(checkboxCalories.value);
        }

        if (checkboxHR.checked) {
            variables.push(checkboxHR.value);
        }

        if (checkboxTemperature.checked) {
            variables.push(checkboxTemperature.value);
        }

        if (checkboxSteps.checked) {
            variables.push(checkboxSteps.value);
        }
        return [variables, dateStart, dateEnd];
    }

    function UpdateData()
    {
        values = CountCheckboxes();
        variables = values[0];
        dateStart = values[1];
        dateEnd = values[2];
        console.log(variables);
        console.log(dateStart.value);
        console.log(dateEnd.value);

        data = LoadBaseData(variables, dateStart.value, dateEnd.value);
        document.getElementById("data").textContent = data;
    }

    function Correlate() {
        values = CountCheckboxes();
        variables = values[0];
        dateStart = values[1];
        dateEnd = values[2];
        console.log(variables);
        console.log(dateStart.value);
        console.log(dateEnd.value);

        var_num = variables.filter(Boolean)

        if (var_num.length > 2) {
            document.getElementById("data").textContent = "Please choose just two variables."
        } else if (var_num.length < 1){
            document.getElementById("data").textContent = "Please choose two variables."
        }else {
            data = LoadBaseData(variables, dateStart.value, dateEnd.value);
            data = JSON.parse(data);
            data = JSON.parse(data["data"]);
            x_values = [];
            y_values = [];
            for (i=0; i<data.length; i++) {
                x_values.push(data[i][variables[0]]);
                y_values.push(data[i][variables[1]]);
            }
            document.getElementById("data").textContent = x_values;
            document.getElementById("data2").textContent = y_values;
        }
    }
</script>


<input type="checkbox" id="checkboxCalories" name="Calories" value="Calories">
<label for="checkboxCalories"> Calories</label><br>

<input type="checkbox" id="checkboxHR" name="HR" value="HR" checked>
<label for="checkboxHR"> HR</label><br>

<input type="checkbox" id="checkboxTemperature" name="Temperature" value="Temperature">
<label for="checkboxTemperature"> Temperature</label><br>

<input type="checkbox" id="checkboxSteps" name="Steps" value="Steps">
<label for="checkboxSteps"> Steps</label><br>

<input type="date" id="dateStart" value="2015-05-20"/>
<input type="date" id="dateEnd" value="2015-05-21"/>

<button onclick=UpdateData()>Update</button>
<button onclick=Correlate()>Correlate</button>

<br/>
<br/>
<br/>

<div id="data">

</div>
<div id="data2">

</div>

{% endblock %}