/* Project Biosensors */

body{
    background-color: rgb(172, 172, 172); 
}

table{
    border: 1px solid ;
    text-align: center;
    background-color: rgb(238, 238, 238); 

}

td{
    border: 1px solid ;
    width: 120px;
    align: center;
}

body{
    background-color: rgb(206, 232, 255); 
  }
  
  .chart{
    background-color: cornflowerblue;
  }
  
  .bars{
    fill: darkblue;
    stroke-width: 1px;
    stroke:black;
    opacity: 0.5;
  }
  
  .bars:hover{
    fill: darkblue;
    stroke-width: 1px;
    stroke:black;
    opacity: 0.8;
  }
  
  #tooltip{
    background-color: darkblue;
    color: white;
    position: relative;
    stroke-width: 1px;
  }
  